<% if user_signed_in? and current_user.is_admin? %>
    <div class="card p-4 mt-3">
        <h3 class="text-center"> All pledges</h3>
        <small id="info" class="form-text text-center text-muted">Only you can see this</small>
        <% @pledges.each do |pledge| %>
            <p><%= pledge.user_id %>: $<%= pledge.amount %></p>
        <% end %>
    </div>
<% end %>
