<article class="p-3 mt-2 mb-4">
    <div class="epis-card card">
        <%= image_tag('les-epis.png', alt: 'Les epis logo', class: 'epis-logo') %>

        <h1>Our values</h1>

        <p>Les Épis Inc. believes in the fundamental values of integrity, courage and respect. we strive to deliver
        quality programs and services that have measurable impact in the lives of
        those who need it the most.</p>

    </div>
</article>
