<article class="p-3 mt-2 mb-4">
    <div class="epis-card card">
        <%= image_tag('les-epis.png', alt: 'Les epis logo', class: 'epis-logo') %>

        <h1>Our values</h1>

        <p>Les Épis Inc. believes in the fundamental values of integrity, courage and respect. In addition, we adhere
        to the principle that economic and social development must go hand in hand for the benefit of people.</p>

        <p>At Les Épis, we strive to deliver quality programs and services that have measurable impact in the lives of
        those we serve, and we are open to constructive feedback from our customers and employees. We
        believe that constructive feedback forces us to reinvent ourselves in order to always offer quality services,
        worthy of those who value us.</p>

        <p>In addition, at Les Épis, we adhere to the principle of justice and respect the laws of Canada. We do not
        tolerate favouritism and discrimination within the company. We embrace cultural diversity and recognize
        the uniqueness inherent in each individual. Made in God’s likeness.</p>

        <p>Les Épis treats its employees as family members. We value each of them. In addition, we are committed
        to offering reasonable and equitable wages, flexible and humane work schedules, and structure, as well
        as a clear delineation of duties and responsibilities.</p>

        <p> Les Épis believes in the growth and personal and professional development of our employees. We are
        committed to supporting them in their decision and aspiration. We do not want our employees to feel
        devalued or taken for granted. We listen to them and keep all the promises we make to them.</p>

        <p>At Les Épis, we recognize and fully assume our social responsibilities as a company. We are committed
        to supporting causes that are close to our hearts, such as education and access to basic necessities.</p>
    </div>
</article>
